.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.084);
  flex: 0 0 auto;
  background: #ffffff;
}

.app-footer {
  flex: 0 0 auto;
  text-align: center;
  background: #fff;
}

.app-content {
  flex: 1 0 auto;
  padding: 24px;
  background: #fff;
  overflow: auto;
}

.page-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.084);
  border-radius: 3px;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
